$large: 1440px;
$large-s: 1360px;
$l-medium: 1000px;
$medium: 768px;
$x-small: 470px;
$small: 380px;
$radius: 40px;
$black: #403f3d;
$gray: #665f55;
$beige: #e1d4c9;
$beige2: #c1b6ad;
$light-brown: #b0907a;
$dark-red: #900000;
$white: #f9f6ee;
