<footer>
  <section id="contact-us" class="contact">
    <div class="container">
      <div class="contact__container">
        <div class="contact__title">
          <h2 class="contact__title_title">
            Sip, Savor, Smile. <span class="contact__title_title_italic">It’s coffee time!</span>
          </h2>
          <div class="contact__social-media">
            <button class="contact__social-media__button">
              <app-icon name="twitter" customClass="contact__social-media__button__svg"></app-icon>
            </button>
            <button class="contact__social-media__button">
              <app-icon name="instagram" customClass="contact__social-media__button__svg"></app-icon>
            </button>
            <button class="contact__social-media__button">
              <app-icon name="facebook" customClass="contact__social-media__button__svg"></app-icon>
            </button>
          </div>
        </div>
        <div class="contact__info">
          <h3 class="contact__info__title">Contact us</h3>
          <ul class="contact__info__list">
            <li class="contact__info__list_item">
              <a
                class="contact__info__list_item_link"
                href="https://www.google.com/maps/place/Green+Moore+Rd,+Louisiana+70661,+USA/@30.2835013,-93.6835997,813m/data=!3m1!1e3!4m15!1m8!3m7!1s0x863bfca8e71a9973:0xcffc575a39443e57!2sGreen+Moore+Rd,+Louisiana+70661,+USA!3b1!8m2!3d30.2834967!4d-93.6810194!16s%2Fg%2F1thz20sz!3m5!1s0x863bfca8e71a9973:0xcffc575a39443e57!8m2!3d30.2834967!4d-93.6810194!16s%2Fg%2F1thz20sz?entry=ttu&g_ep=EgoyMDI1MTAwMS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
              >
                <app-icon name="map" customClass="contact__info__list_item_svg"></app-icon>
                <h3 class="contact__info__list_item_text">8558 Green Rd., LA</h3>
              </a>
            </li>
            <li class="contact__info__list_item">
              <a class="contact__info__list_item_link" href="tel:+16035550123">
                <app-icon name="phone" customClass="contact__info__list_item_svg"></app-icon>
                <h3 class="contact__info__list_item_text">+1 (603) 555-0123</h3>
              </a>
            </li>
            <li class="contact__info__list_item">
              <app-icon name="clock" customClass="contact__info__list_item_svg"></app-icon>
              <h3 class="contact__info__list_item_li">Mon-Sat: 9:00 AM – 23:00 PM</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
