@use 'variables' as vars;
@use 'mixins' as mix;

:host {
  @include mix.center(40px);

  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;

  @include mix.respond(xx-mobile) {
    justify-content: center;
  }
}

.favorite {
  &__slider {
    justify-content: space-between;
    width: 100%;
    height: 640px;
    padding: 0 3.5px;

    @include mix.center(0);

    &__button {
      cursor: pointer;
      width: 60px;
      height: 60px;
      border: 1px solid vars.$gray;
      border-radius: 50%;
      background-color: transparent;
      transition: 0.5s ease-out;

      &_svg {
        stroke: vars.$black;
      }

      &[disabled] {
        cursor: auto;

        &:hover {
          background-color: vars.$beige;

          & > .favorite__slider__button_svg {
            stroke: vars.$black;
          }
        }
      }

      @media (hover: hover) {
        &:hover {
          background-color: vars.$gray;
        }

        &:hover > .favorite__slider__button_svg {
          stroke: vars.$beige;
        }
      }

      @include mix.respond(xx-mobile) {
        display: none;
      }
    }

    &__ribbon {
      overflow: hidden;
      display: flex;
      width: 480px;
      height: 640px;

      @include mix.respond(xx-mobile) {
        width: 348px;
        height: 532px;
      }

      & > span {
        margin-left: 40%;
      }
    }

    &__card {
      overflow: hidden;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: space-between;
      width: 480px;

      @include mix.center(16px);

      &__image {
        width: 480px;
        height: 480px;
        margin-bottom: 4.3px;

        @include mix.respond(xx-mobile) {
          width: 348px;
          height: 348px;
        }

        &_img {
          @include mix.img;
        }
      }

      &__title {
        @include mix.text('Inter', normal, vars.$black, 24px, 125%, 600, 0.3px);
      }

      &__text {
        @include mix.text('Inter', normal, vars.$black, 16px, 150%, 400, 0.1px);

        width: 480px;
        text-align: center;

        @include mix.respond(xx-mobile) {
          width: 348px;
          letter-spacing: 0;
        }
      }

      @include mix.respond(xx-mobile) {
        width: 348px;
      }
    }

    @include mix.respond(tablet) {
      padding: 0;
    }

    @include mix.respond(xx-mobile) {
      width: 348px;
      height: 532px;
    }
  }

  &__pointers {
    @include mix.center(12px);

    justify-content: space-between;

    &_pointer {
      cursor: pointer;
      width: 40px;
      height: 4px;
      border-radius: vars.$radius;
      background: linear-gradient(to left, vars.$beige2 50%, vars.$gray 50%) right;
      background-size: 200%;
      transition: 0.2s ease-out;
    }
  }
}

.ribbon_scroll {
  transition: 0.5s ease-out;
}
