@use './../node_modules/modern-normalize/modern-normalize.css';
@use './components/container.scss';
@use './components/header.scss';
@use './components/enjoy.scss';
@use './components/favorite.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}
