@use 'variables' as vars;
@use 'mixins' as mix;

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  background-color: vars.$beige;
}

body {
  margin: 0 auto;
}

.container {
  overflow: hidden;
  max-width: vars.$large;
  margin: 0 auto;
  padding: 0 2.5rem;

  @include mix.respond(mobile) {
    padding: 0 1rem;
  }
}

@media (hover: hover) {
  .contact__social-media__button:hover app-icon .contact__social-media__button__svg use {
    stroke: vars.$black;
  }
}
