@use './../_variables' as vars;
@use './../_mixins' as mix;

.about {
  background-color: vars.$beige;
  &__container {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: stretch;
  }
  &__title {
    @include mix.text('Inter', normal, vars.$black, 60px, 125%, 600, 2px);
    &_italic {
      color: vars.$light-brown;
      font-style: italic;
    }
    @include mix.respond(xx-mobile) {
      font-size: 32px;
      letter-spacing: 1px;
    }
  }
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    grid-template-rows: 430px 40px 160px 430px;
    @include mix.respond(xx-tablet) {
      grid-template-rows: 430px 430px;
      row-gap: 40px;
    }
    @include mix.respond(x2-tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: 590px 590px;
      row-gap: 40px;
    }
    &__image {
      border-radius: 20px;
      &_img {
        @include mix.img();
        border-radius: 20px;
      }
    }
    &__image_1 {
      grid-column: 1;
      grid-row: 1 / span 3;
      max-height: 590px;
      @include mix.background('./../assets/images/about_1.png');
      background-size: 110%;
      @include mix.respond(xx-tablet) {
        grid-row: 1 / 1;
      }
      @include mix.respond(x2-tablet) {
        justify-self: start;
        width: 70%;
      }
      @include mix.respond(x3-tablet) {
        width: 90%;
      }
      @include mix.respond(tablet) {
        width: 100%;
        background-size: 105%;
      }
      @include mix.respond(xx-mobile) {
        background-size: 210%;
      }
    }
    &__image_2 {
      grid-column: 2;
      grid-row: 1/1;
      @include mix.background('./../assets/images/about_2.png');
      background-size: 110%;
      @include mix.respond(xx-tablet) {
        grid-row: 1 / 1;
      }
      @include mix.respond(x2-tablet) {
        display: none;
      }
    }
    &__image_3 {
      grid-column: 1;
      grid-row: 4/4;
      @include mix.background('./../assets/images/about_3.png');
      background-size: 110%;
      @include mix.respond(xx-tablet) {
        grid-row: 2 / 2;
      }
      @include mix.respond(x2-tablet) {
        display: none;
      }
    }
    &__image_4 {
      grid-column: 2;
      grid-row: 3 / span 2;
      @include mix.background('./../assets/images/about_4.png');
      background-size: 110%;
      @include mix.respond(xx-tablet) {
        grid-row: 2 / 2;
      }
      @include mix.respond(x2-tablet) {
        grid-column: 1;
        justify-self: end;
        width: 70%;
      }
      @include mix.respond(x3-tablet) {
        width: 90%;
      }
      @include mix.respond(tablet) {
        width: 100%;
        background-size: 105%;
      }
      @include mix.respond(xx-mobile) {
        background-size: 210%;
      }
    }
  }
}
