@use 'variables' as vars;
@use 'mixins' as mix;

.enjoy {
  background-color: vars.$beige;

  &__background {
    @include mix.background('/images/enjoy.jpg');

    position: relative;
    overflow: hidden;
    max-width: vars.$large-s;
    padding: 100px 730px 100px 100px;
    border-radius: vars.$radius;

    @include mix.respond(xxx-tablet) {
      padding: 100px 98px 100px 60px;
    }

    @include mix.respond(x-mobile) {
      padding: 60px 16px;
    }

    &__video {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__title {
      @include mix.text('Inter', normal, vars.$beige, 72px, 105%, 600, 2.6px);

      &_italic {
        @include mix.italic;
      }

      @include mix.respond(xx-mobile) {
        font-size: 42px;
        line-height: 115%;
        letter-spacing: 1px;
      }
    }

    &__text {
      @include mix.text('Inter', normal, vars.$beige, 16px, 150%, 400, 0.1px);
    }

    &__link {
      gap: 0.5rem;
      text-decoration: none;
      transition: 0.5s ease-out;

      @include mix.button(64px, vars.$beige);

      &_text {
        @include mix.text('Inter', normal, vars.$black, 16px, 150%, 600, 0);
      }
    }
  }
}

.about {
  background-color: vars.$beige;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: stretch;
    padding-bottom: 100px;
  }

  &__title {
    @include mix.text('Inter', normal, vars.$black, 60px, 125%, 600, 2px);

    &_italic {
      @include mix.italic;
    }

    @include mix.respond(xx-mobile) {
      font-size: 32px;
      letter-spacing: 1px;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 430px 40px 160px 430px;
    column-gap: 40px;

    @include mix.respond(xx-tablet) {
      grid-template-rows: 430px 430px;
      row-gap: 40px;
    }

    @include mix.respond(x2-tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: 590px 590px;
      row-gap: 40px;
    }

    &__image {
      border-radius: 20px;

      &_img {
        @include mix.img;

        border-radius: 20px;
      }
    }

    &__image_1 {
      grid-column: 1;
      grid-row: 1 / span 3;
      max-height: 590px;

      @include mix.background('/images/about_1.png');

      background-size: 110%;
      transition: 0.5s ease-out;

      @media (hover: hover) {
        &:hover {
          background-size: 100%;
        }
      }

      @include mix.respond(xx-tablet) {
        grid-row: 1 / 1;
      }

      @include mix.respond(x2-tablet) {
        justify-self: start;
        width: 70%;
      }

      @include mix.respond(x3-tablet) {
        width: 100%;
      }

      @include mix.respond(tablet) {
        width: 100%;
        background-size: 105%;
        transition: 0.5s ease-out;

        @media (hover: hover) {
          &:hover {
            background-size: 95%;
          }
        }
      }

      @include mix.respond(xx-mobile) {
        background-size: 210%;

        @media (hover: hover) {
          &:hover {
            background-size: 200%;
          }
        }
      }
    }

    &__image_2 {
      grid-column: 2;
      grid-row: 1/1;

      @include mix.background('/images/about_2.png');

      background-size: 110%;
      transition: 0.5s ease-out;

      @media (hover: hover) {
        &:hover {
          background-size: 100%;
        }
      }

      @include mix.respond(xx-tablet) {
        grid-row: 1 / 1;
      }

      @include mix.respond(x2-tablet) {
        display: none;
      }
    }

    &__image_3 {
      grid-column: 1;
      grid-row: 4/4;

      @include mix.background('/images/about_3.png');

      background-size: 110%;
      transition: 0.5s ease-out;

      @media (hover: hover) {
        &:hover {
          background-size: 100%;
        }
      }

      @include mix.respond(xx-tablet) {
        grid-row: 2 / 2;
      }

      @include mix.respond(x2-tablet) {
        display: none;
      }
    }

    &__image_4 {
      grid-column: 2;
      grid-row: 3 / span 2;

      @include mix.background('/images/about_4.png');

      background-size: 110%;
      transition: 0.5s ease-out;

      @media (hover: hover) {
        &:hover {
          background-size: 100%;
        }
      }

      @include mix.respond(xx-tablet) {
        grid-row: 2 / 2;
      }

      @include mix.respond(x2-tablet) {
        grid-column: 1;
        justify-self: end;
        width: 70%;
      }

      @include mix.respond(x3-tablet) {
        width: 100%;
      }

      @include mix.respond(tablet) {
        width: 100%;
        background-size: 105%;

        @media (hover: hover) {
          &:hover {
            background-size: 95%;
          }
        }
      }

      @include mix.respond(xx-mobile) {
        background-size: 210%;

        @media (hover: hover) {
          &:hover {
            background-size: 200%;
          }
        }
      }
    }
  }
}

.app {
  background-color: vars.$beige;

  &__container {
    justify-content: space-between;
    padding-bottom: 100px;

    @include mix.center(100px);

    @include mix.respond(xx2-tablet) {
      flex-direction: column;
      gap: 100px;
    }

    @include mix.respond(x-mobile) {
      gap: 40px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 630px;

    @include mix.respond(xxx2-tablet) {
      max-width: 450px;
    }

    @include mix.respond(xx2-tablet) {
      max-width: 688px;
    }

    &__title {
      @include mix.text('Inter', normal, vars.$black, 60px, 125%, 600, 2px);

      &_italic {
        @include mix.italic;
      }

      @include mix.respond(xx-mobile) {
        font-size: 32px;
        letter-spacing: 1px;
      }
    }

    &__text {
      @include mix.text('Inter', normal, vars.$black, 16px, 150%, 400, 0.1px);
    }

    &__buttons-container {
      display: flex;
      gap: 20px;

      @include mix.respond(x-mobile) {
        flex-direction: column;
      }
    }

    &__button {
      cursor: pointer;
      display: flex;
      gap: 5px;
      justify-content: flex-start;
      padding-left: 23px;
      transition: 0.5s ease-out;

      @include mix.button(64px, transparent, vars.$gray);

      &__text {
        @include mix.text('Inter', normal, vars.$black, 10px, 140%, 600, 0);

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        &__platform {
          @include mix.text('Inter', normal, vars.$black, 16px, 148%, 600, 0);
        }
      }

      @media (hover: hover) {
        &:hover {
          background-color: vars.$gray;
        }

        &:hover span {
          color: vars.$beige;
        }
      }
    }
  }

  &__image {
    width: 630px;
    height: 630px;

    &_img {
      @include mix.img;
    }

    @include mix.respond(xx-mobile) {
      width: 348px;
      height: 348px;
    }
  }
}

.favorite {
  background-color: vars.$beige;

  &__container {
    @include mix.center(40px);

    flex-flow: column nowrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;

    @include mix.respond(xx-mobile) {
      justify-content: center;
    }
  }

  &__title {
    @include mix.text('Inter', normal, vars.$black, 60px, 125%, 600, 2px);

    text-align: center;

    &_italic {
      @include mix.italic;
    }

    @include mix.respond(xx-mobile) {
      font-size: 32px;
    }
  }

  &__slider {
    justify-content: space-between;
    width: 100%;
    height: 640px;
    padding: 0 3.5px;

    @include mix.center(0);

    &__button {
      cursor: pointer;
      width: 60px;
      height: 60px;
      border: 1px solid vars.$gray;
      border-radius: 50%;
      background-color: transparent;
      transition: 0.5s ease-out;

      @media (hover: hover) {
        &:hover {
          background-color: vars.$gray;
        }
      }

      @include mix.respond(xx-mobile) {
        display: none;
      }
    }

    &__ribbon {
      overflow: hidden;
      display: flex;
      width: 480px;

      @include mix.respond(xx-mobile) {
        width: 348px;
      }

      & > app-loader {
        margin-left: 35%;
      }
    }

    &__card {
      overflow: hidden;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: space-between;
      width: 480px;

      @include mix.center(16px);

      &__image {
        width: 480px;
        height: 480px;
        margin-bottom: 4.3px;

        @include mix.respond(xx-mobile) {
          width: 348px;
          height: 348px;
        }

        &_img {
          @include mix.img;
        }
      }

      &__title {
        @include mix.text('Inter', normal, vars.$black, 24px, 125%, 600, 0.3px);
      }

      &__text {
        @include mix.text('Inter', normal, vars.$black, 16px, 150%, 400, 0.1px);

        width: 480px;
        text-align: center;

        @include mix.respond(xx-mobile) {
          width: 348px;
          letter-spacing: 0;
        }
      }

      @include mix.respond(xx-mobile) {
        width: 348px;
      }
    }

    @include mix.respond(tablet) {
      padding: 0;
    }

    @include mix.respond(xx-mobile) {
      width: 348px;
      height: 532px;
    }
  }

  &__pointers {
    @include mix.center(12px);

    justify-content: space-between;

    &_pointer {
      cursor: pointer;
      width: 40px;
      height: 4px;
      border-radius: vars.$radius;
      background: linear-gradient(to left, vars.$beige2 50%, vars.$gray 50%) right;
      background-size: 200%;
      transition: 0.2s ease-out;
    }
  }
}

.ribbon_scroll {
  transition: 0.5s ease-out;
}
