@use './../../styles/_variables' as vars;
@use './../../styles/_mixins' as mix;

.container {
  overflow: hidden;
  max-width: vars.$large;
  margin: 0 auto;
  padding: 0 2.5rem;

  @include mix.respond(mobile) {
    padding: 0 1rem;
  }
}
